
:root {
    --animation-duration: 10s;
    --white: #ffffff;
    --background-color: black;
    --font-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

picture {
    margin: .3rem .3rem .3rem .3rem;
    padding-bottom: .3rem;
}

#myPic {
    margin-top: 2rem;
    border-radius: 5%;
    border: 4px solid #8ec1e3;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* Header section of documents */
header {
    padding-top: 4rem;
    padding-bottom: 1rem;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/banner.jpg");
}

h1,h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    font-size: 2rem;
}

h3 {
    background-color: rgb(175, 230, 252);
    border: 4px solid;
    border-top-color: #b2ddfa;
    border-left-color: #b2ddfa;
    padding:  0.5rem 5rem 0.5rem 0.5rem;
    margin-top: 1rem;
    display:block;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

section + section {
  border-top: 1px solid #ddd;
  padding-top: var(--space-lg);
  margin-top: var(--space-lg);
}

#homeHead {
    margin-left:15rem;
    margin-right: 15rem ;
}

#aboutMe {
    font-size: 1.4rem;
    text-align: justify;
}

#projectBody, #bodyOfContent {
    margin: 2rem 15rem 2rem 15rem;
    
}

#currentStuff {
    font-size: 1.4rem;
    text-align: justify;
    margin: 2rem 15rem 2rem 15rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@keyframes example {
    0%   {color:black;}
    25%  {color:red; }
    50%  {color:blue; }
    75%  {color:green; }
    100% {color:black;}
}


header a   {
    font-size:1.5rem;
    color: black;
    text-decoration: none;
    margin-left: .5rem;
    margin-right: .5rem;
}

header a:hover {
    border-bottom: .3rem solid rgb(17, 0, 255);
  }

header a.active {
    border-bottom: .3rem solid red;
}


footer {
    margin: 1rem 0 0 0;
    padding: 1rem 1rem 1rem 1rem;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    background-color: #bae1fc;
    animation-name: example;
    animation-duration: var(--animation-duration,);
    animation-iteration-count: infinite;

}

/* link styles */
#bodyOfContent > ul {
    list-style-type:none;
    list-style-position:outside;
    margin-right: 5rem;
    padding-top: 1 rem;
    align-self: center;
}

#bodyOfContent  ul > li {
    display: inline-block;
    padding-right: 5rem;
    padding-top: 1rem;
    
}

#coreSkills {
    list-style-type:none;
    list-style-position:outside;
    align-self: flex-start;

}
#coreSkills > li {
    font-size: 1.2rem;

}

li > img {
    width: 35px;
    height: 35px;
    margin-right: .3rem ;
}

li a:visited {
color: purple;
}

li a:hover {
    color: color-mix(in lch, red 30%, blue);
}

li a {
    text-decoration: none;
}

  /* Details style*/
details {
    padding-top: 1rem;  
}


details > summary {
    padding-top: 1rem ;
    padding-bottom: 1rem;
    background-color: #ebe2e2;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: justify;
}

details[open] > summary {
    background-color: #ccf;
}

article {
    font-size: 1.3rem;
}

article > p:first-of-type {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
    
}

details img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


  /* font */

@font-face {
    font-family: robotoCondensed;
    src: url(font/RobotoCondensed-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: robotoCondensed;
    src: url(font/RobotoCondensed-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: robotoCondensed;
    src: url(font/RobotoCondensed-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: robotoCondensed;
    src: url(font/RobotoCondensed-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: robotoCondensed;
    background-color: rgb(255, 255, 255);
}


@media only screen and (max-width: 768px) {  
    * {
        display: flex;
        flex-direction: column;
        
    }

    h3 {
        align-self: flex-start; /* or center */
        width: auto;            /* don’t fill the container */
        max-width: 100%;        /* keep it responsive */
    }

    #homeHead {
        margin-left:1rem;
        margin-right: 1rem ;
    }


    #projectBody, #bodyOfContent {
        margin: 2rem 1rem 2rem 1rem;
        
    }

    #currentStuff {
        display: flex !important;
        flex-direction: column !important;
        font-size: 1.4rem;
        text-align: justify;
        margin: 2rem 1rem 2rem 1rem;
    }

    picture > img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;   
    }


    header {
        width: 100%;
        background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/bannerMobile.jpg");

    }
    header nav {
        width: 100%;

    }
    header  a {
        padding: .5rem;
        display: inline-block;
        text-align: left;
        width: 80%;
 
    }



}